@charset "UTF-8";

html {
  font-family: monospace;
}

h1 {
  text-align: center;
  background: #ddd;
  padding: 20px;
  font-size: 200%;
  font-weight: bolt;
}

.sendler {
 width: 100%;
 font-size: 150%;
 text-align: center;
}


.sendler button {
  font-family: monospace;
  font-size: 120%;
  border-radius: 2px;
  border: 0px;
  padding: 2px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}